body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    height:100%;
    width:100%;
}

#main {
    width: 500px;
    margin: auto;
    text-align: center;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

.gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#29bed8+0,ffffff+50,1e5799+100 */
    background: rgb(41,190,216); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(41,190,216,1) 0%, rgba(255,255,255,1) 50%, rgba(30,87,153,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(41,190,216,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(30,87,153,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(41,190,216,1) 0%,rgba(255,255,255,1) 50%,rgba(30,87,153,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(41,190,216,1) 0%,rgba(255,255,255,1) 50%,rgba(30,87,153,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(41,190,216,1) 0%,rgba(255,255,255,1) 50%,rgba(30,87,153,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(41,190,216,1) 0%,rgba(255,255,255,1) 50%,rgba(30,87,153,1) 100%); /* W3C */
    backround-size:cover;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29bed8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}
